{{template "partials/header" .}}
<div class="container homeScreen">
  <div class="row row-cols-1 g-4">
    {{range $service := .services}}
    <div class="col">
      <div class="card h-100 serviceElement">
        <div class="card-header">
          <h3 class="card-title">{{$service.Name}}</h3>
        </div>
        <div class="card-body">
          <p class="card-text" class="text-muted">
            <span>Status</span>{{$service.Status}}</p>
            <p class="card-text" class="text-muted">
              <span>Last Checked</span>{{$service.LastCheckTime}}</p>
          <p class="card-text" class="text-muted">
            <span>URL:</span>{{$service.URL}}</p>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary" @click="">Edit</button>
          <button type="button" class="btn btn-danger" @click="">Delete</button>
        </div>
      </div>
    </div>
    {{end}}
  </div>
</div>
{{template "partials/footer" .}}
