{{template "partials/header" .}}
<div class="container newServiceScreen">
  <div class="row newServiceForm">
    <div class="col-12">
      <label for="basic-url" class="form-label">Service Name</label>
      <div class="input-group">
        <input type="text" id="newServiceName" class="form-control" 
        placeholder="Service name" aria-label="service name" aria-describedby="name">
      </div>
    </div>
    <div class="col-12">
      <label for="basic-url" class="form-label">URL(https://example.com)</label>
      <div class="input-group">
        <textarea id="newServiceURL" class="form-control" aria-label="URL"></textarea>
      </div>
      <div class="form-text" id="basic-addon4">This url will be used to check the service, 
        Http status code of response must be 200 for GET method</div>
    </div>
    <div class="col-12">
      <button type="button" id="newServiceBtn" class="btn btn-primary">Add New</button>
    </div>
  </div>
</div>
<script src="/static/js/createService.js"></script>
{{template "partials/footer" .}}
